*{
    padding: 0;
    margin: 0;
    font-family: "Oswald", sans-serif;
    box-sizing: border-box;
}
                                                /* COMMON CONTAINER */
.common-cont{
    width: 100%;
    max-width: 1140px;
    margin: 0 auto;
}
.common-cont:after{
    content: "";
    display: block;
    overflow: hidden;
    clear: both;
}
.nav-notification{
    text-align: center; 
}
.top-bar-notification{
    padding: 10px 0px;
}
.top-bar-notification>p{
    color: black;
}
.top-bar-notification>p>a{
    color: rgb(49, 135, 23);
}
                                                    /* header */
                                                /* logo */
.logo{
    padding-top: 14px;
}
.utility-navbar{
    display: flex;
    background-image: url(../img/Color\ Fill\ 1.jpg);
}
.nav2{
    display: flex;
    justify-content: space-between;
}
.membership{
    display: flex;
    transform: skew(-24deg, 0deg);
    padding: 8px 0px 12px 0px;
}

.membership>li{
    list-style: none;
    height: 40px;
    min-width: 160px;
    display: flex;
    /* justify-content: center; */
    align-items: center;
    background-color: rgba(8, 81, 45, 0.5);
    margin-right:10px;
    margin-top: 6px;
}
.membership>li:hover{
    background-color: rgba(27, 125, 59, 0.5);
}
.membership>li>a{
    text-decoration: none;
    color: white;
    transform: skew(24deg, 0deg);
    display: block;
    padding: 10px 10px;
    width: 100%;
    text-align: center;
}
                                            /* navbar-2 */
.bg-img{
    background-image: url(../img/Color\ Fill\ 1.jpg);
    z-index: 11;
    position: relative;
}
.bg-img-2{
    background-color: rgba(27, 125, 59, 0.4);
}
.parent-cont{
    display: flex;
    justify-content: space-between;
}
.options{
    display: flex ;
    list-style: none;
    transform: skew(-20deg, 0deg);
}
.options>li{
    width: 140px;
    position: relative;
                                               
}
.options>li>a{
    color: white;
    text-decoration: none;
    width: 100%;
    display: block;
    padding: 18px 18px;
    transform: skew(20deg, 0deg);
    text-align: center;
    font-size: small;
}
.options>li:hover{
    background-color: rgba(9, 198, 71, 0.5);
}
.options{
    position: relative;
}
.option2{
    display: none;
    position: absolute;
    min-width: 240px;
    box-shadow: 0px 8px 8px 0px rgba(0,0,0,0.2);
    transform: skew(20deg, 0deg);
    left: 23px;
    top: 100%;
    list-style: none;
    background: url(../img/Color\ Fill\ 1.jpg);
}
.option2>li{
    background-color: rgba(27, 125, 59, 0.4);
    position: relative;
}
.option2>li>a{
    color: white;
    padding: 12px 16px;
    text-decoration: none;
    display: block; 
    background-color:  rgba(9, 198, 71, 0.5);
    font-size: small;
}                                       
.options>li:hover >ul{
    display: block;
}
.options>li>ul>li:hover>a{
    background-color:rgba(27, 125, 59, 0.4) ;
}
.option3{
    color: white;
    position: absolute;
    background: url(../img/Color\ Fill\ 1.jpg);
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    min-width: 240px;
    left: 100%;
    list-style: none;
    top: 0%;
    display: none;
}                                          
.option3>li{
    background-color: rgba(27, 125, 59, 0.4);
}
.option3>li>a{
    padding: 12px 16px;
    text-decoration: none;
    color: white;
    display: block;
    background-color:  rgba(9, 198, 71, 0.5);
    font-size: small;
}
.option2>li:hover>ul{
    display: block;
}
.option2>li>ul>li:hover>a{
    background-color:rgba(27, 125, 59, 0.4) ;
}
                                            /* Search-bar */
.search-bar{
    display: flex;
    padding: 10px 17px 10px 0px;
    width: 255px;
}
.search-bar>input{
    border: none;
    width: 100%;
    padding-left: 15px;
    background-color: rgba(1, 44, 31, 1);
    color:#fff ;
}
.search-bar>input:focus{
    outline: none;
}
.search-bar>button{
    border: none;
    width: 20%;
    background-color: rgba(1, 44, 31, 1);
    color: gray;
}
                                            /* Title-bar */                    
.bg-color-1{
    background-image: url(../img/Color\ Fill\ 1.jpg);
    font-size: 0;
}
.bg-color-2{
    background-color:  rgba(27, 125, 59, 0.4);
}
.bg-color-3{
    background-color: rgba(9, 198, 71, 0.5);
    overflow: hidden;
}
.container-1>h1{
    color: white;
    padding: 15px 0px;
    font-size: 40px;
}
.container-1{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.container-1>img{
    padding: 20px 0px;
    margin-right:95px ;
}

.white-wrap{
    position: relative;
    z-index: 1;
    
    
}
.white-wrap::before{
    content: "";
    display: block;
    clear: both;
    width: 100vw;
    z-index: -1;
    position: absolute;
    left: calc(100% - 380px);
    background-color: #fff;
    height: 100%;
    transform: skew(-20deg, 0deg);
}
                                        /* main */
.hero-img{
    background-image: url(../img/Hero\ section.jpg);
    height:433px;
    background-size: cover;
}
                                            /* main-sect-img */
.main-color{
    background-image: url(../img/Color\ Fill\ 1.jpg);
}
.slider{
    height: 10px;
}
.slider>img{
    padding: 150px 0;
}
                                                /* Side-container */
                                                        /* Box-1 */
.side-cont{
    width: 255px;
}
.side-box-1{
    height: 46px;
    background-color: rgba(27, 125, 59, 0.4);
    margin-top: 80px;
    display: flex;
    align-items: center;
}
.side-box-1>p{
    color: #fff;
    font-weight: 500;
    padding-left: 19.18px;
}
.side-box-11{
    background-color:  rgba(9, 198, 71, 0.5) ;
}
.side-box-11>input{
    height: 40px;
    width: 215px;
    margin: 20px 20px;
    padding-left: 10px;
}
.side-box-11>input:focus{
    outline: none;
}
.button-p{
   padding-left: 124px;
   padding-bottom: 20px;
}
.button-01{
    background-image: url(../img/Color\ Fill\ 1.jpg);
    height: 40px;
    width: 103px;
    transform: skew(-20deg, 0deg);
}
.button-02{
    height: 40px;
    width: 103px;
    background-color: rgba(27, 125, 59, 0.4);
    display: flex;
    align-items: center;
    justify-content: center;
    transform: skew(0deg, 0deg);
}
.button-02>a{
    transform: skew(20deg, 0deg);
    color: #fff;
    text-decoration: none;
}
                                        /* box-2 */
.side-box-2{
    height: 46px;
    background-color: rgba(27, 125, 59, 0.4);
    margin-top: 30px;
    display: flex;
    align-items: center;
}
.side-box-2>p{
    color: #fff;
    font-weight: 500;
    padding-left: 19.18px;
}
.side-box-22{
    background-color:  rgba(9, 198, 71, 0.5) ;
}
.side-box-22-1{
    display: flex;
    padding: 20px 0px 0px 20px;
}
.side-replica{
    padding-bottom: 20px;
}
.numb{
    height: 46px;
    width: 46px;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    color: rgba(27, 125, 59, 1);
}
.location a{
    color: white;
    font-weight: 500;
    font-size: 18px;
    line-height: 26.68px;
}
.location{
    margin-left: 10px;
}
.location p{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 200;
    font-size: 16px;
    line-height: 18.75px;
    color: rgba(255, 255, 255, 1);
}
                                                    /* part-3 */
.side-box-3{
    height: 46px;
    background-color: rgba(27, 125, 59, 0.4);
    margin-top: 30px;
    display: flex;
    align-items: center;
}
.side-box-3>p{
    color: #fff;
    font-weight: 500;
    padding-left: 19.18px;

}
.side-box-33{
    background-color:  rgba(9, 198, 71, 0.5) ;
    padding-bottom: 35px;
    color: white;
}
.side-box-33-1{
    display: flex;
    padding:20px 0px 0px 23px;
}
.side-box-33-1 i{
    display: flex;
    align-items: center;
}
.side-box-33 p{
    padding-left: 10px;
}
                                                /* Part-4 */
.side-box-4{
    height: 46px;
    background-color: rgba(27, 125, 59, 0.4);
    margin-top: 30px;
    display: flex;
    align-items: center;
}
.side-box-4>p{
    color: #fff;
    font-weight: 500;
    padding-left: 19.18px;
}
.side-box-44{
    background-color:  rgba(9, 198, 71, 0.5) ;
}
.button-1-2{
    display: flex;
}
.button-03{
    background-image: url(../img/Color\ Fill\ 1.jpg);
    height: 26px;
    transform: skew(-20deg, 0deg);
}
.button-04{
    height: 26px;
    background-color: rgba(27, 125, 59, 0.4);
    display: flex;
    align-items: center;
    justify-content: center;
    transform: skew(0deg, 0deg);
}
.button-04>a{
    transform: skew(20deg, 0deg);
    color: #fff;
    text-decoration: none;
    font-weight: 400;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    padding: 3px 23px 5px 21px;
}
.button-1-2{
    padding: 10px 40px 0px 15px;
}
.buton-2{
    margin-left: 10px;
}
.button-copy{
    padding-bottom: 34px;
}
                                    /* Part-1 */
                                    /* Boxes */
.main-wrapper{
    display: flex;
    justify-content: space-around;
}
.main{
    display: flex;
}
.boxes{
    display: flex;
    justify-content: space-evenly;
    padding: 80px 0 0px 28px;
}
.box-1{
    border: 9px solid rgba(27, 125, 59, 0.4);
    font-size: 0px;
    margin-right: 27px;
}
.slider-2{
    height: 10px;
}
.slider-2>img{
    padding: 150px 0;
}
.slide-bullets{
    padding: 18px 358px 20px;
}
                                            /* Part-2 */
.main-box{
    width: 825px;
    border-top: 2px solid rgba(255, 255, 255, 0.477);
    display: flex;
    justify-content: space-between;
} 
.onto{
    width: 255px;
    padding: 40px 0px 0px 0px;
}
                                        /* image-cont */
.img{
    font-size: 0;
}
.content-cont{
    color: white;
    background-color: rgba(9, 198, 71, 0.5);
}
.content-cont h5{
    font-size: 20px;
    font-weight: 500;
    line-height: 24px;
    padding: 10px;
}
.content-cont p{
        font-family: Arial, Helvetica, sans-serif;
        font-size: 14px;
        line-height: 18px;
        padding: 0px 10px 20px;
}
.content-cont-2 p{
    padding: 0px 10px 80px;
}
.read-more{
    background-color:rgba(27, 125, 59, 0.4);
    text-align: center;
    padding: 8px 0;
}
.read-more a{
    color: #fff;
    text-decoration: none;
    font-size: 20px;
    line-height: 29.64px;
}
                                        /* part-3 */
.img-1{
    background-image: url(../img/content.png);
    margin-top:40px;
}
.img-2{
    width: 495px;
    font-size: 0;   
    clip-path: polygon(0 0, 100% 0, 83% 100%, 0% 100%);
}
.img-3{
    background-image: url(../img/zigzag\ section\ copy.png);
    margin-top:40px;
}
.img-4{
    width: 495px;
    font-size: 0;   
    clip-path: polygon(0 0, 100% 0, 83% 100%, 0% 100%);
}
                                        /* Part-4 */
.img-3{
    margin: 0px;
}
                                        /* main-2 */
.main-2{
    background-image: url(../img/Color\ Fill\ 1.jpg);
} 
.group-25-2 img{    
    margin-top: 41px;
    padding-left: 15px;
}
.group-24-2 img{
    margin-top: 41px;
    padding-left: 15px;
    padding-bottom: 81px;
}
                                            /* main-3 */
                                            /* part-7 */
.main-3-copy{
    background-image: url(../img/Color\ Fill\ 1.jpg);
    position: relative;
}
.main-3-copy::before{
    content: '';
    position: absolute;
    background-color: rgba(8, 161, 59, 0.2);
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
} 
.cont-for-reg{
    width: 542px;
    max-width: 100%;
    margin: 0 auto;
    position: relative;
}
.cont-for-reg h3{
    text-align: center;
    color: white;
    font-weight: 500;
    font-size: 30px;
    line-height: 44.46px;
    padding: 33px 0px 10px 0px;
}
                                            /* row-1 */
/* common */
.form-row{
    display: flex;
    justify-content: space-between;
    padding-bottom: 17px;
}
.name-one{
    color: white;
    font-weight: 500;
    font-size: 16px;
    line-height: 23.71px;
}
/* common */
.cont-50{
    width: calc(50% - 15px);
}
/* common */
.cont-for-reg input[type="text"],
.cont-for-reg input[type="email"]{
    width: 100%;
    height: 36px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 16.41px;
    padding: 0 0 0 10px;
}
                                            /* row-2 */
.opt{
    width: 100%;
    height: 36px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 16.41px;
    color: grey;
    padding: 0 0 0 10px;
}
                                                    /* row-3 */
/* radio buttons */
/* The container */
.container {
    position: relative;
    padding: 4px 12px 10px 34px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 14px;
    color: #fff;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 400;
    line-height: 16.41px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
  /* Hide the browser's default radio button */
.container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}
  
  /* Create a custom radio button */
.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #eee;
    border-radius: 50%;
} 
  /* On mouse-over, add a grey background color */
.container:hover input ~ .checkmark {
    background-color: #ccc;
}  
  /* When the radio button is checked, add a blue background */
.container input:checked ~ .checkmark {
    background-color: white;
}
  
  /* Create the indicator (the dot/circle - hidden when not checked) */
.checkmark:after {
    content: "";
    position: absolute;
    display: none;
} 
  /* Show the indicator (dot/circle) when checked */
.container input:checked ~ .checkmark:after {
    display: block;
} 
  /* Style the indicator (dot/circle) */
.container .checkmark:after {
    top: 5px;
    left: 5px;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background: rgba(27, 125, 59, 1);
}
                                            /* row-4 */
.cont-for-reg textarea{
    height: 86px;
    width: 540px;
    color: gray;
    resize: none;
    padding: 10px 0 0 10px ;
}
                                        /* Row-5 */
.submit-btn{
    height: 36px;
    width: 160px;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
}
.for-btn{
    display: flex;
    justify-content: center;
}   
                                            /* footer */
.foot{
    background-image: url(../img/Color\ Fill\ 1.jpg);
}
.lists ul{
    display: flex;
    list-style: none;
    justify-content: space-around;
    color: #fff;
}
.lists{
    padding: 31px 0px 15px 0px;
}
.fav-icon-width{
    width: 111px;
}
.fav-icons{
    color: aliceblue;
    display: flex;
    justify-content: space-between;
}
.parent-cont-for-icon{
    width: 524px;
    max-width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    padding-bottom: 15px;
}
.footer-notification{
   
    color: #fff;
    text-align: center;
    padding-bottom: 34px;
}
.footer-notification p{
    font-family: "Montserrat", sans-serif;
    font-weight: 300;
    font-size: 14px;
    line-height: 17px;
    font-optical-sizing: auto;
    font-style: normal;
}
